<% if @topic %>
  <h1>Lists from <%= @topic.name %> Topic</h1>
    <ul>
      <% @topic.lists.each do |list| %>
        <li><%= link_to list.title, list_path(list)%> - <%= list.user.username %></li>
        <% end %>
    </ul> 
    <br>
    <p> Make your own Top <%= @topic.name %> list <%= link_to 'here', new_topic_list_path(@topic)%>. </p>
<% else %>
  <h1>All Lists</h1>
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.title, list_path(list) %> - <%= list.user.username %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag('/lists', method: :get) do |f|%>
  <%= search_field_tag 'search', 'Find a List'%>
  <%= submit_tag 'search'%>
  <% end %>
  