%h1.text-center
  - if @topic
    = "Lists from #{@topic.name} Topic"
  - else
    = "All Lists"

.col-lg-8.mx-auto.mb-4
  = form_tag('/lists', method: :get, class: 'input-group mb-3') do |f|
    = search_field_tag 'search', @search, class: 'form-control', placeholder: 'Search'
    = submit_tag 'Search', class: 'btn btn-primary'
    = button_to 'Clear', lists_path, method: :get, class:'btn btn-secondary' if params[:search].present?
  .border.rounded-3.mx-auto
    -# TODO: center pagination elements for clean layout
    .text-center.mt-3
      = page_entries_info @lists, entry_name: 'List'
    .d-flex.justify-content-center
      = paginate @lists, left: 2, right: 2, inner_window: 0

    .col.list-group.mx-auto.p-4
      - @lists.each do |list|
        = link_to(list, {class: 'd-block list-group-item list-group-item-action'}) do
          %div.fw-bold
            = list.title
          %span.float-end.fw-light
            = time_ago(list)
          %i.fas.fa-user
          %span
            = list.user.username
    .d-flex.justify-content-center
      = paginate @lists, left: 2, right: 2, inner_window: 0

- if @topic
  %p.text-center
    = "Make your own Top #{@topic.name} list #{link_to 'here', new_topic_list_path(@topic)}."
