- if @topic
  %h1.text-center
    Lists from #{@topic.name} Topic
- else
  %h1.text-center All Lists
= form_tag('/lists', method: :get, class: 'input-group w-50 mb-3') do |f|
  = search_field_tag 'search', nil, class: 'form-control', placeholder: 'Search'
  = submit_tag 'Search', class: 'btn btn-primary'
  = button_to 'Clear', lists_path, method: :get, class:'btn btn-secondary' if params[:search].present?
%ul.list-group-flush
  - @lists.each do |list|
    %li.list-group-item
      = link_to list.title, list_path(list)
      \-
      %i.fas.fa-user
      - if list.user.username.include?('@')
        = list.user.username&.partition('@')&.first
      - else list.user.username
- if @topic
  %p
    Make your own Top #{@topic.name} list #{link_to 'here', new_topic_list_path(@topic)}.
