<h1>New Top Ten List</h1>
<% if @list.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@list.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @list.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([@list, @topic]) do |f| %>
  <% if @topic %>
  <%= f.collection_select(:topic_id, Topic.all, :id, :name, include_blank: 'Select Topic') %>
    <% else %>
  
  <%= f.fields_for :topic_attributes do |topic_attribute| %>
      <%= topic_attribute.label :name, 'New Topic Name:' %>
      <%= topic_attribute.text_field :name %> <br>
  <% end %>
    
  <br>
  <br> 
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <br>
  <%= f.label :item_1 %>
  <%= f.text_field :item_1 %>
  <br>
  <br>
  <%= f.label :item_2 %>
  <%= f.text_field :item_2 %>
  <br>
  <br>
  <%= f.label :item_3 %>
  <%= f.text_field :item_3 %>
  <br>
  <br>
  <%= f.label :item_4 %>
  <%= f.text_field :item_4 %>
  <br>
  <br>
  <%= f.label :item_5 %>
  <%= f.text_field :item_5 %>
  <br>
  <br>
  <%= f.label :item_6 %>
  <%= f.text_field :item_6 %>
  <br>
  <br>
  <%= f.label :item_7 %>
  <%= f.text_field :item_7 %>
  <br>
  <br>
  <%= f.label :item_8 %>
  <%= f.text_field :item_8 %>
  <br>
  <br>
  <%= f.label :item_9 %>
  <%= f.text_field :item_9 %>
  <br>
  <br>
  <%= f.label :item_10 %>
  <%= f.text_field :item_10 %>
  <br>
  <br>

  <%= f.submit 'Create List' %>

<% end %>