<h1>Topic: <%= @topic.name %></h1>

Top <%= @topic.name %> lists:

<%@topic.lists.each do |list| %>
  <ul>
    <li><%= link_to list.title, list_path(list) %></li>
  </ul>
<% end %>

<p> Make your own Top <%= @topic.name %> list <%= link_to 'here', new_topic_list_path(@topic)%>. </p>