<!DOCTYPE html>
<html>
  <head>
    <title>TopTenLister</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <script src="https://kit.fontawesome.com/b91cfb0624.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">

    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">
        <i class="far fa-list-alt"></i>
        TopTenLister
        </span>
          <button 
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          >
          <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
          
              <ul class="navbar-nav">
            <% if !logged_in? %>
              <li class="nav-item">
                <%= link_to 'Home', root_path, {:class => "nav-link"} %>
              </li>
              <li class="nav-item">
                <%= link_to 'Log In', login_path, {:class => "nav-link"} %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign Up', signup_path, {:class => "nav-link"} %>
              </li>
            <% else %>  
              <li class="nav-item">
                <%= link_to 'My Lists', user_path(current_user), {:class => "nav-link"} %>
              </li>
              <li class="nav-item">
              <%= link_to 'All Lists', lists_path, {:class => "nav-link"} %>
              </li>
              <li class="nav-item">
                <%= link_to 'List Topics', topics_path, {:class => "nav-link"} %>
              </li>
              <li class="nav-item">
                <%= link_to 'Make a List', new_list_path, {:class => "nav-link"} %>
              </li>
              <li class="nav-item">
                <%= link_to 'Log Out', logout_path, :class => "nav-link", method: "delete" %>
              </li>
            <% end %>
          </ul>

        </div>
      </div>
    </nav>

    <br>
    <div class="container-sm">
    <div class="notice text-success text-center">
      <%= flash[:notice] if flash[:notice]%>
    </div>
    <div class="messages text-danger text-center">
      <%= flash[:message] if flash[:message] %>
      <%= @error if @error %>
    </div>
      <%= yield %>
    </div>

  </body>
</html>
