!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TopTenLister
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/b91cfb0624.js"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.sticky-top
      .container-fluid
        %span.navbar-brand.mb-0.h1
          %i.far.fa-list-alt
          TopTenLister
        %button.navbar-toggler{ data: { bs_toggle: 'collapse', bs_target: 'navbarNav' }, type: 'button' }
          %span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          %ul.navbar-nav
            - if !logged_in?
              %li.nav-item
                = link_to 'Home', root_path, class: "nav-link #{active_class(root_path)}"
              %li.nav-item
                = link_to 'Log In', login_path, class: "nav-link #{active_class(login_path)}"
              %li.nav-item
                = link_to 'Sign Up', signup_path, class: "nav-link #{active_class(signup_path)}"
            - else
              %li.nav-item
                = link_to 'My Lists', user_path(current_user), class: "nav-link #{active_class(user_path(current_user))}"
              %li.nav-item
                = link_to 'All Lists', lists_path, class: "nav-link #{active_class(lists_path)}"
              %li.nav-item
                = link_to 'List Topics', topics_path, class: "nav-link #{active_class(topics_path)}"
              %li.nav-item
                = link_to 'Make a List', new_list_path, class: "nav-link #{active_class(new_list_path)}"
              %li.nav-item
                = link_to 'Log Out', logout_path, method: :delete, class: "nav-link", data: { confirm: "Are you sure?" }
    %br/
    .container-sm
      - if flash[:notice]
        .alert.alert-success.text-center.alert-dismissible.fade.show{role: 'alert'}
          = flash[:notice]
          %button.btn-close{data: {bs_dismiss: 'alert'}, aria_label: 'Close'}
      - if flash[:message]
        .alert.alert-danger.text-center.alert-dismissible.fade.show{role: 'alert'}
          = flash[:message] if flash[:message]
          = @error if @error
          %button.btn-close{data: {bs_dismiss: 'alert'}, aria_label: 'Close'}
      = yield
